body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', cursive;
  background-color: rgba(255, 255, 255, 0.7); /* Cambiamos el fondo a transparente */
}
#imagen1 {
  width: 300px;
  height: 300px;
  margin: 0 auto; /* Esto centra la imagen horizontalmente */
}
/* Estilo para la imagen */
#imagen2 {
  width: 300px;
  height: 300px;
  display: none;
  margin: 0 auto; /* Esto centra la imagen horizontalmente */
}


/* Estilo para el botón */
#boton-regalo {
    background-color: #f10707;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.4s;
    animation: agrandarYachicar 1s infinite alternate; /* Animación continua */
}


/* Animación para agrandar y achicar el botón */
@keyframes agrandarYachicar {
  from {
      transform: scale(1); /* Tamaño normal */
  }
  to {
      transform: scale(1.1); /* Tamaño agrandado */
  }
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.title {
  font-size: 3em;
  color: #ff6699;
  animation: bounceAnimation 1s infinite alternate;
}
.celebration-image {
  width: 200px; /* ajusta el ancho de la imagen según sea necesario */
  margin-bottom: 20px; /* Agregamos espacio entre la imagen y el título */
}
.message {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.7); /* Cambiamos el fondo a transparente */
}

.message p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

@keyframes bounceAnimation {
  0% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(10px);
  }
}
